<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maishealth.maishealth">

    <!-- To auto-complete the email text field in logarogin form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon_launcher_new_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_new_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".usuario.gui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".usuario.gui.SignUpActivity" />
        <activity
            android:name=".usuario.gui.MenuPaciente" />
        <activity
            android:name=".usuario.gui.MeuHistoricoActivity" />
        <activity
            android:name=".usuario.gui.ConsultasPendentesActivity"
            android:label="@string/label_consultas_pendentes"/>
        <activity android:name=".usuario.gui.AcharPostoActivity"
            android:label="@string/label_mapa_dos_postos" />
        <activity
            android:name=".usuario.gui.MenuMedicoActivity" />
        <activity android:name=".usuario.gui.AtualizarPerfilActivity"
            android:label="@string/label_atualizar_perfil"/>
        <activity
            android:name=".usuario.gui.MarcacaoSintomasPacActivity"
            android:label="@string/label_marcar_sintomas"/>
        <activity android:name=".usuario.gui.EscolherDia"
            android:label="@string/label_escolher_dia"/>
        <activity android:name=".usuario.gui.ConfirmarConsulta"
            android:label="@string/label_confirmar_consulta"/>
        <activity android:name=".usuario.gui.ConsultaAtualMedActivity"
            android:label="@string/label_consulta_atual"/>
        <activity android:name=".usuario.gui.ConsultaEscolhidaActivity"
            android:label="@string/label_consulta_escolhida"/>
        <activity android:name=".usuario.gui.HorarioTrabMedicoActivity"
            android:label="@string/label_horario_trab"/>
        <activity android:name=".usuario.gui.EscolherDiaDaConsultaActivity"
            android:label="@string/label_escolher_dia_da_consulta"/>
        <activity android:name=".usuario.gui.ListaDeConsultasParaMedicoActivity"
            android:label="@string/label_lista_consultas_medico"/>
        <activity android:name=".MaterialUpConceptActivity" />
    </application>

</manifest>