<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maishealth.maishealth">

    <!-- To auto-complete the email text field in logarogin form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher_new_plus_health"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_health_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".usuario.gui.Login1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.gui.MenuPaciente2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.gui.MarcaConsultaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.gui.MeuHistoricoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".usuario.gui.ConsultasPendentesActivity" />
        <activity android:name=".usuario.gui.AcharPostoActivity" />
        <activity
            android:name=".usuario.gui.MenuMedicoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".usuario.gui.AtualizarPerfilPacActivity" />
        <activity android:name=".usuario.gui.AtualizarPerfilMedicoActivity" />
        <activity
            android:name=".usuario.gui.MarcacaoSintomasPacActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".EscolherEspecialidade" />
        <activity android:name=".EscolherDia" />
        <activity android:name=".EscolherHora" />
        <activity android:name=".usuario.gui.ConfirmarConsulta" />
        <activity android:name=".usuario.gui.ConsultasAnterioresPacActivity" />
        <activity android:name=".usuario.gui.ConsultaAtualMedActivity" />
        <activity android:name=".ConsultaEscolhidaActivity"></activity>
    </application>

</manifest>